*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
html:focus-within {
  font-size: 62, 5%;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
  color: #271d4e;
  padding: 3rem;
  box-sizing: border-box;
  background-color: #64379f; }

img {
  max-width: 100%;
  display: block; }

/* --- Header --- */
.card {
  width: 70%;
  margin: 10vh auto; }

.header {
  background-color: #fff;
  padding-block: 2.5rem;
  border-radius: 50px; }

.request-section {
  display: flex;
  justify-content: center;
  border-radius: 100px; }

.request-section :is(label, input, button) {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem; }

.request-section input[type="text"] {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #fff;
  padding-left: 1rem;
  color: #fff;
  background-color: #d3d3d3; }

.request-section button {
  padding-inline: 1.5rem;
  margin-right: 0;
  border: 1px solid #fff;
  background-color: #64379f; }

.request-section button:nth-of-type(2) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #64379f;
  border: 1px solid #fff;
  background-color: #d3d3d3; }

/* --- Card Body --- */
.card-body {
  margin: 4vh 10%;
  text-align: center; }

.card-body h2 {
  margin-block: 1rem;
  text-transform: capitalize;
  color: #271d4e; }

.card-body h2:nth-of-type(1) {
  font-size: 3rem; }

.card-body h2:nth-of-type(2) {
  font-size: 3.5rem;
  color: #ddacf5; }

.article-line {
  border-bottom: 2px solid #64379f;
  margin-bottom: 1rem; }

/* --- grid --- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10%, 5%; }

.grid-container p {
  border: 1px solid #271d4e; }
